<div>
  <p>Create</p>
  
  <button type="button" class="btn btn-success">Create</button>
  
  <p>Join</p>
  <button type="button" class="btn btn-primary">Join</button>
</div>

<div class="row">
  
      <!--<div class="col-sm-4" *ngFor="let user of users">-->
      <div class="col-sm-4" *ngFor="let c of chatrooms">
        
        <div class="profile-card" >
          <img [src]="c.img" class="img-responsive img-circle">
          <h2>{{c.name}}</h2>
        </div>

        </div>
      <!--</div>-->

</div>


<div *ngFor="let chatroom of chats[0]">
  {{chatroom.id}}
  {{chatroom.name}}
  {{chatroom.age}}
</div>