@media (min-width: 1200px){
  .panel-body {
    /* height: 480px; */
    height: calc(80vh);
    overflow-y: auto; 
  }
}
@media (max-width: 1199px){
  .panel-body {
    /* height: 480px; */
    height: calc(50vh);
    overflow-y: auto; 
  }
}